<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>MC Tag Gen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <link id="favicon" rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/CmdTag.ico')}}">
</head>
<body>
    <div id="banner">
        <img id="newmoon" src="{{ url_for('static', filename='img/SmallMoon.webp')}}"/>
        <h1 id="titleSplash">MC Custom Data Tag Generator</h1>
    </div>
    <div id="container">
        <div id="leftSide">
            <h1 id="inputText">Input Section Below</h1>
            <label class="img-checkbox">
              <input id="checkbox" type="checkbox" name="multiple_commands">
              <span class="box" aria-hidden="true"></span>
              <audio id="checkboxClick" src="{{ url_for('static', filename='audio/checkboxFireCharge.mp3')}}"></audio>
              <span class="label-text"> <--- Multiple Commands Toggle</span>
            </label>
            <div id="buttonDiv">
                <button id="moreInputs" class="disabled"></button>
                <button id="lessInputs" class="disabled"></button>
            </div>
            <div id="inputFields">
                <textarea class="input" placeholder="Command goes here..."></textarea>
            </div>
            <button id="genCommand">Gen Tag<audio id="buttonClick" src="{{ url_for('static', filename='audio/buttonPress.mp3')}}"></audio></button>
            <p id="outputText">Custom Data Output:</p>
            <pre id="output"></pre>
        </div>
        <div id="rightSide">
            <div id="instructions">
                <h2 id="headline">So this is probably a bit confusing.</h2>
                <h2 id="followup">Allow me to explain...</h2>
                <br/>
                <h2 id="explanation">In short, I devised a way to achieve 'Remote Command Execution' on Minecraft
                via setting up 8 simple command blocks in a forever-loaded chunk, and embedding commands in custom_data
                on items. When said item is held in your hand, it runs the command/commands stuffed into the custom_data
                tag. I really only made this because the length of the commands I was putting into an item got annoyingly
                long to have to rewrite into the custom_data section by hand, and figured I'd automate the process to
                save myself some hours. I then take the resulting custom_data value and throw it into the corresponding text box
                on <a id="linky" href="https://www.gamergeeks.net/apps/minecraft/give-command-generator">this dope website</a> under the "Extras" section.</h2>
                <h2 id="diy">If for some reason you would like to replicate what I did for fun, I'll leave the commands
                for the 8 command blocks I used to achieve this as well as the orientation of said blocks (Yes it does matter,
                I was lazy and relative positioning was the only way I came up with to handle some issues that came up)</h2>
                <div id="diyDiv">
                    <img id="diagram" src="{{ url_for('static', filename='img/Diagram.webp')}}"/>
                    <div id="commands">
                        <h4 id="chainLine">Chain Line</h4>
                        <pre class="command">Repeater:

execute as `PLAYER` if data entity @s SelectedItem.components."minecraft:custom_data".cmd run setblock ~1 ~ ~ command_block{TrackOutput:0b}</pre>
                        <pre class="command">Chain 1:

execute as `PLAYER` if data entity @s SelectedItem.components."minecraft:custom_data".cmd run data modify block ~1 ~ ~-1 Command set from entity @s SelectedItem.components."minecraft:custom_data".cmd</pre>
                        <pre class="command">Chain 2:

setblock ~1 ~ ~-1 minecraft:redstone_block</pre>
                        <pre class="command">Chain 3:

setblock ~1 ~1 ~-2 minecraft:redstone_block</pre>
                        <h4 id="repeaters">4 Repeaters</h4>
                        <pre class="command">Top Left:

execute as `PLAYER` unless data entity @s SelectedItem.components."minecraft:custom_data".cmd run setblock ~3 ~ ~ air</pre>
                        <pre class="command">Top Right:

/kill @e[type=item,nbt={Item:{id:"minecraft:activator_rail"}},distance=..5]</pre>
                        <pre class="command">Bot Left:

execute as `PLAYER` unless data entity @s SelectedItem.components."minecraft:custom_data".cmd run setblock ~3 ~ ~ air</pre>
                        <pre class="command">Bot Right:

execute as `PLAYER` unless data entity @s SelectedItem.components."minecraft:custom_data".cmd run setblock ~3 ~ ~ air</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
		<defs>
			<filter id="dist-01">
				<feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="8" result="noise" seed="0"/>
				<feConvolveMatrix in="noise" order="3" result="snoise"
								  kernelMatrix="
         0  -1   0
        -1   5  -1
         0  -1   0
      "/>
				<feDisplacementMap id="displacement" in="SourceGraphic" in2="snoise" scale="6" />
			</filter>
			<filter id="dist-02">
				<feTurbulence id="turbulence" baseFrequency="0.2" numOctaves="8" result="noise" seed="1"/>
				<feConvolveMatrix in="noise" order="3" result="snoise"
								  kernelMatrix="
         0  -1   0
        -1   5  -1
         0  -1   0
      "/>
				<feDisplacementMap id="displacement" in="SourceGraphic" in2="snoise" scale="6" />
			</filter>
			<filter id="dist-03">
				<feTurbulence id="turbulence" baseFrequency="0.01" numOctaves="6" result="noise" seed="2"/>
				<feConvolveMatrix in="noise" order="3" result="snoise"
								  kernelMatrix="
         0  -1   0
        -1   5  -1
         0  -1   0
      "/>
				<feDisplacementMap id="displacement" in="SourceGraphic" in2="snoise" scale="6" />
			</filter>
			<filter id="dist-04">
				<feTurbulence id="turbulence" baseFrequency="0.01" numOctaves="6" result="noise" seed="2" type="FractalNoise"/>
				<feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="6" />
			</filter>
		</defs>
	</svg>
<script defer src="{{ url_for('static', filename='mctagscript.js')}}"></script>
</html>